<template>
  <div>
    <!--
    <header class="header">
      <a href="/">
        <img
          src="@/assets/images/logo/cultureasy-128.png"
          alt="Logo Cultureasy">
      </a>

      <nav
        class="navbar header has-shadow is-primary"
        role="navigation"
        aria-label="main navigation">
        <div class="navbar-brand">
          <a
            class="navbar-item"
            href="/">
            <img
              src="~assets/buefy.png"
              alt="Buefy"
              height="28">
          </a>

          <div class="navbar-burger">
            <span/>
            <span/>
            <span/>
          </div>
        </div>
      </nav>

    </header>
  -->

    <nuxt />

    <footer class="footer">
      <p>Cultureasy ©2019 - Tous droits de reproduction réservé.</p>
    </footer>
  </div>
</template>

<script>
export default {
  data() {
    return {}
  }
}
</script>

<style src="./default.scss" scoped lang="scss">
</style>
