<template>
  <main :lang="lang" class="main-content">
    <section class="hero is-warning is-fullheight">
      <a href="/">
        <img
          src="@/assets/images/logo/phenix-red.png"
          alt="Logo Cultureasy"
          width="128px"
        />
      </a>
      <div class="hero-body">
        <div class="container">
          <p class="title is-1">
            {{ content.motto }}
          </p>
          <p class="subtitle is-5">
            {{ content.valueProposition }}
          </p>
          <transition name="bounce">
            <b-field v-if="show">
              <a href="https://app.cultureasy.co">
                <button
                  type="submit"
                  class="button is-dark is-medium is-uppercase"
                >
                  {{ content.callToAction }}
                </button>
              </a>
            </b-field>
          </transition>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
export default {
  layout: 'headless',
  data() {
    return {
      show: true,
      lang: 'fr',
      fr: {
        title: 'Cultureasy',
        motto: 'Adoptez un légume',
        valueProposition:
          'Pour que manger des légumes devienne un bon moment de partage en famille.',
        callToAction: 'Testez notre démonstration gratuitement'
      }
    }
  },
  computed: {
    content: function() {
      let content
      if (this.lang === 'fr') {
        content = this.fr
      }
      return content
    }
  }
}
</script>

<style lang="scss" scoped>
#email {
  width: auto;
}

.invisible {
  color: transparent;
  position: absolute;
  z-index: -100;
}

.bounce-enter-active {
  animation: bounceIn 2s;
}

.bounce-leave-active {
  animation: bounceIn 2s reverse;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
  }
}
</style>
